{% extends "estudiantes/base.html" %}

{% block content %}
    <h1>Listado de Estudiantes</h1>

    {% if estudiantes %}
        <ol>
            {% for estudiante in estudiantes %}
                <li>
                    <a href="{% url 'estudiantes:detalle_estudiante' estudiante.pk %}">
                        {{ estudiante.nombre|capfirst }} {{ estudiante.apellido|capfirst }}
                    </a> - {{ estudiante.programa }}
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No hay estudiantes registrados.</p>
    {% endif %}

    <p><a href="{% url 'estudiantes:home' %}">Volver al inicio</a></p>
{% endblock %}

