{% extends "estudiantes/base.html" %}

{% block content %}
    <h1>Listado de Programas</h1>

    {% if programas %}
        <ol>
            {% for programa in programas %}
                <li>
                    <a href="{% url 'estudiantes:detalle_programa' programa.pk %}">
                        {{ programa.nombre|capfirst }}
                    </a> - Duración: {{ programa.duracion }}
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No hay programas registrados aún.</p>
    {% endif %}

    <p><a href="{% url 'estudiantes:home' %}">Volver al inicio</a></p>
{% endblock %}
