{% extends "estudiantes/base.html" %}

{% block content %}
  <h1>Listado de Cursos</h1>

  {% if cursos %}
    <ul>
      {% for curso in cursos %}
        <li>
          <a href="{% url 'estudiantes:detalle_curso' curso.pk %}">
            {{ curso.nombre|upper }}
          </a> - {{ curso.creditos }} créditos
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay cursos registrados.</p>
  {% endif %}

  <p><a href="{% url 'estudiantes:home' %}">Volver al inicio</a></p>
{% endblock %}
