{% extends "estudiantes/base.html" %}

{% block content %}
    <h1>Lista de Inscripciones</h1>

    <ul>
        {% for inscripcion in inscripciones %}
        <li>
            <a href="{% url 'estudiantes:detalle_inscripcion' inscripcion.pk %}">
            {{ inscripcion.estudiante.nombre }} {{ inscripcion.estudiante.apellido }} 
            - {{ inscripcion.curso.nombre }}
            </a>
        </li>
        {% empty %}
        <li>No hay inscripciones registradas.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'estudiantes:home' %}">⬅ Volver al inicio</a>
{% endblock %}
