<nav class="navbar navbar-light bg-light border-bottom">
  <div class="container d-flex justify-content-between align-items-center">

    <ul class="navbar-nav d-flex flex-row gap-5 mb-0">
      <li class="nav-item">
        <a class="nav-link text-dark p-0" href="{% url 'estudiantes:lista_programas' %}">Programas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark p-0" href="{% url 'estudiantes:lista_cursos' %}">Cursos</a>
      </li>
    </ul>

    <a class="navbar-brand mx-auto fw-bold" href="{% url 'estudiantes:home' %}">Universidad</a>

    <ul class="navbar-nav d-flex flex-row gap-5 mb-0">
      <li class="nav-item">
        <a class="nav-link text-dark p-0" href="{% url 'estudiantes:lista_estudiantes' %}">Estudiantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark p-0" href="{% url 'estudiantes:lista_inscripciones' %}">Inscripciones</a>
      </li>
    </ul>

  </div>
</nav>

